<template name="dashboard">

	<!-- Contact Section -->
		<section id="myContent" class="section-content"> 

			<div class="container">

					<div class=" "> 
						{{#if currentUser}}
						<div class="row">
							{{>sidebar}}
							
							<div class="col-md-10 col-sm-10 col-md-10 col-xs-12">
								<p> Welcome to anyTV music </p>	
							</div>
						
						</div>
						{{else}}
							<p> 
								Please login to continue.
							</p>
						{{/if}}
					</div>
			</div>
			
		</section>
		<!-- Contact Section -->
</template>