<template name="index">
	<!-- About Section -->
		<section id="about" class="section-content">
			<div class="container">

				<!-- Section title -->
				<div class="section-title text-center">
					<div>
						<span class="line big"></span>
						<span>Pure creativity</span>
						<span class="line big"></span>
					</div>
					<h1 class="item_right">About Us</h1>
					<div>
						<span class="line"></span>
						<span>We create new ground</span>
						<span class="line"></span>
					</div>
					<p class="lead">
						Alpine is an advertising, media, and creative content agency that helps the new brands explore new and innovative marketing approaches.
					</p>
				</div>
				<!-- Section title -->

				<div class="row">
					<div class="col-md-12">
						<div class="element-line">
							<div class="item_left">
								<img src="images/devices.jpg" class="img-responsive img-center" alt="">
							</div>
						</div>
					</div>

					<!-- item media -->
					<div class="col-md-6">
						<div class="element-line">
							<div class="item_left">
								<div class="media">
									<a class="pull-left rotate" href="#"> <img class="media-object img-circle" src="/images/about1.jpg" alt=""> </a>
									<div class="media-body">
										<h3 class="media-heading">Planning</h3>
										<p>
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- item media -->
					<!-- item media -->
					<div class="col-md-6">
						<div class="element-line">
							<div class="item_right">
								<div class="media">
									<a class="pull-left rotate" href="#"> <img class="media-object img-circle" src="/images/about2.jpg" alt=""> </a>
									<div class="media-body">
										<h3 class="media-heading">Consultancy</h3>
										<p>
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- item media -->
				</div>
			</div>
		</section>

		<!-- About Section -->

		<a href="#" id="back-top"><i class="fa fa-angle-up fa-2x"></i></a>

		<footer class="text-center">
			<div class="social-icon">
				<a href="#"> <i class="fa fa-facebook fa-3x"></i> </a>
				<a href="#"> <i class="fa fa-twitter fa-3x"></i> </a>
				<a href="#"> <i class="fa fa-google-plus fa-3x"></i> </a>
				<a href="#"> <i class="fa fa-youtube fa-3x"></i> </a>
			</div>
			© Copyright 2013 by Alpine Studios. All Rights Reserved. Powered by <a href="http://www.creative-ispiration.com"> <strong>creative-ispiration.com</strong> </a>
		</footer>
</template>