<template name="navbar">
	<!-- Navbar -->
	<div id="navigation" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-inner">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars fa-2x"></i>
				</button>
				<a id="brand" class="navbar-brand myBrand" href="#home"> 
					<h4>
						anyTV
						{{#if currentUser}}/
						<span class="username">
							{{currentUser.profile.name}}
						</span>	
						<img src="{{currentUser.services.google.picture}}" style="width:30px"/>
						{{/if}}

					</h4> 
				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
				<!-- 	<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down"></i></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#home">Home video background</a>
							</li>
							<li>
								<a href="index2.html">Home Fullscreen Slider</a>
							</li>
							<li>
								<a href="index3.html">Home Pattern Slider</a>
							</li>
						</ul>
					</li> -->

				<!-- 	<li>
						<a href="#about" class="int-collapse-menu">About</a>
					</li>
					<li>
						<a href="#service" class="int-collapse-menu">Service</a>
					</li>
					<li>
						<a href="#portfolio" class="int-collapse-menu">Portfolio</a>
					</li>
					<li>
						<a href="#team" class="int-collapse-menu">Team</a>
					</li>
					<li>
						<a href="#client" class="int-collapse-menu">Client</a>
					</li>
					<li>
						<a href="#pricing" class="int-collapse-menu">Pricing</a>
					</li>
					<li>
						<a href="#blog" class="int-collapse-menu">Blog</a>
					</li> -->
					<li>
						{{#unless currentUser}}
							<a href="#login" id="login" class="int-collapse-menu">Login</a>
						{{/unless}}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Navbar -->
</template>