<template name="sidebar">
	
		<div class="col-md-2 col-sm-2 col-md-2 col-xs-12">
			<div class=" ">

				<!-- Form group -->
				<div class="form-group">
						<h2> Menu </h2>
					<div class="mybutton medium">
						<a href="#"><span data-hover="Small">Small button</span></a>
					</div>
					<div class="mybutton medium">
						<a href="#"><span data-hover="Small">Small button</span></a>
					</div>
					<div class="mybutton medium">
						<a href="#"><span data-hover="Small">Small button</span></a>
					</div>
				</div>
				<!-- Form group -->									

			</div>
		</div>
	</div>
</template>